[submodule "Nucleo722-audio/murasaki"]
	path = Nucleo722-audio/murasaki
	url = https://github.com/suikan4github/murasaki.git
[submodule "nucleo-g431-64-mamdelbrot/murasaki"]
	path = nucleo-g431-64-mamdelbrot/murasaki
	url = https://github.com/suikan4github/murasaki.git
[submodule "nucle-g431-new-directory/murasaki"]
	path = nucle-g431-new-directory/murasaki
	url = https://github.com/suikan4github/murasaki.git
[submodule "nucleo-g0b1re-new-dir/murasaki"]
	path = nucleo-g0b1re-new-dir/murasaki
	url = https://github.com/suikan4github/murasaki.git
[submodule "nucleo-h503rb-new-dir/murasaki"]
	path = nucleo-h503rb-new-dir/murasaki
	url = https://github.com/suikan4github/murasaki.git
