[submodule "Nucleo722-audio/murasaki"]
	path = Nucleo722-audio/murasaki
	url = https://github.com/suikan4github/murasaki.git
[submodule "nucleo-f446-64-akashi01/murasaki"]
	path = nucleo-f446-64-akashi01/murasaki
	url = https://github.com/suikan4github/murasaki.git
[submodule "nucleo-g431-64-mamdelbrot/murasaki"]
	path = nucleo-g431-64-mamdelbrot/murasaki
	url = https://github.com/suikan4github/murasaki.git
[submodule "nucleo-g431rb-pll/murasaki"]
	path = nucleo-g431rb-pll/murasaki
	url = https://github.com/suikan4github/murasaki.git
